botcity-framework-base==0.4.4 ; python_version >= "3.12" and python_version < "4.0"
botcity-framework-core==1.2.1 ; python_version >= "3.12" and python_version < "4.0"
evdev==1.7.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform in "linux"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "4.0"
opencv-python==4.10.0.84 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.12" and python_version < "4.0"
psutil==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
pynput==1.7.7 ; python_version >= "3.12" and python_version < "4.0"
pyobjc-core==10.3.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "darwin"
pyobjc-framework-applicationservices==10.3.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "darwin"
pyobjc-framework-cocoa==10.3.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "darwin"
pyobjc-framework-coretext==10.3.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "darwin"
pyobjc-framework-quartz==10.3.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform == "darwin"
pyperclip==1.9.0 ; python_version >= "3.12" and python_version < "4.0"
pytesseract==0.3.13 ; python_version >= "3.12" and python_version < "4.0"
python-xlib==0.33 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
